<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign courses = semester.courses %}
  {% for course in courses %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px">
          <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
            {{- course.credits }} Credits</span
          >
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <details>
            <summary style="display: flex; justify-content: space-between; align-items: center;">
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="">{{ course.title }}</a>
              </h6>

              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ course.department }}-{{ course.id }}</h6>
            </summary>
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ course.description }}</h6>
          </details>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
